body {
    color: #333;
    background: #666;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    min-height: 100vh;
    text-align: left;
    margin: 0 auto;
    background: #eee;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
    color: #fff;
    font-weight: 700;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#cabecera img {
    margin-right: 10px;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: 400;
    font-size: 0.8em;
}

#post {
    padding: 1em;
}